:root {
    --black: #000;
    --white: #fff;
    --black1: #222;
    --lightgray: #DCDCDC;
    --gray: #808080;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 2;
}

.container-fluid {
    /* change width of container-fluid*/
    width: 95%;
}

.navbar {
    /* bg color nav */
    background-color: var(--black1);
}

.navbar-brand {
    /* logo */
    font-family: 'Permanent Marker', cursive;
    text-shadow: 0 0 2px #ff0000, 0 0 4px #ffff00, 0 0 10px #2be634;
    font-size: 1.5rem;
    /* background-color: var(--black); */
    padding: 10px 15px 10px 15px;
    /* box-shadow: 2px 2px 5px var(--lightgray); */
    /* border-radius: 10px; */
    border-radius: 79px;
    background-color: #766f6f;
    box-shadow: inset 25px 25px 50px #514d4d;
}

.navbar-collapse {
    /* navbar content at right */
    justify-content: flex-end;
}

.nav-link {
    /* change style of navbar content */
    font-size: 1.25rem;
    padding: 0;
    margin: 0 2px 0 2px;
    color: var(--white) !important;
    text-transform: uppercase;
    transition-duration: 1s;
}

a.nav-link.active {
    /* active navbar */
    background-color: var(--lightgray);
    box-shadow: 2px 2px 2px var(--black), 2px 2px 4px var(--white);
    border-radius: 5px;
    color: var(--black) !important;
    padding-top: 2px;
}

.icon-link {
    /* group and center icon+test */
    text-align: center;
    padding-top: 5px;
}

@media screen and (max-width: 991px) {

    /* fix error at navbar last content */
    .navbar-nav div:last-of-type {
        margin-bottom: 0 !important;
    }
}

.icon-link i {
    /* change navbar icon style */
    font-size: 1.5rem;
    margin-bottom: 1px;
}

/* animation add to icon */
.animate-neonLight {
    animation-duration: 3s;
    animation-name: neonLight;
    animation-iteration-count: infinite;
}

@keyframes neonLight {
    0% {
        background-color: #766f6f;
    }

    25% {
        background-color: darkblue;
    }

    50% {
        background-color: darkslategray;
    }

    75% {
        background-color: darkred;
    }

    100% {
        background-color: darkmagenta;
    }
}

/* end */

/* hover group */
.animate__animated.animate__pulse:hover {
    /* animation add to icon */
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: var(--lightgray);
    box-shadow: 2px 2px 2px var(--black), 2px 2px 4px var(--white);
    border-radius: 5px;
}

.icon-link:hover i,
.icon-link:hover a {
    /* icon+test */
    color: var(--black) !important;
    transition-duration: 1s;
}

/* end */

.fas.fa-bars {
    /* navbar menu icon */
    font-size: larger;
    color: var(--white);
    border: 2px solid #d4d2d2;
    border-radius: 5px;
    padding: 5px;
}

/* end of navbar -----------------------------------*/

/* about */
a[title="Download my CV"] {
    /*fixed error */
    padding-bottom: 4px;
}

.btn.btn-danger:hover {
    /* add hover effect to all link buttons */
    border-radius: 79px;
background: #ff0000;
box-shadow: inset 31px 31px 24px #b00000,
            inset -31px -31px 24px #ff0000;
}

#about>div {
    /* about content */
    align-items: center;
}

#about1 {
    /* about content */
    max-height: 275px;
}

#about .img-thumbnail {
    /* positioning img */
    display: block;
    margin: auto;
    border: 1px solid var(--black);
    background-color: var(--black1);
    max-width: 60%;
}

div#about {
    /* box about */
    box-shadow: 0px 0px 2px var(--black1), 2px 2px 0 var(--black1);
}

/* end of about */

/* experience */
h5,
h6 {
    text-align: center;
}

.card {
    /* carb bg color */
    background-color: var(--black1);
}

.card-body {
    /* remove padding bottom */
    padding-bottom: 0;
}

#experience a {
    /* link color */
    color: var(--gray);
}

#seeMore-exp1,
#seeMore-exp2 {
    /* jquery for link */
    display: none;
}

div#experience {
    /* box experience */
    box-shadow: 0px 0px 2px var(--black1), 2px 2px 0 var(--black1);
}

/* end of experience */

/* projects */
#projects .img-thumbnail {
    /* change bg style of img */
    background-color: var(--black1);
}

#projects .flex-item {
    /* group img and project name link */
    box-shadow: 0px 0px 2px var(--black1), 2px 2px 0 var(--black1);
    width: 40%;
    margin-bottom: 30px;
}

#projects .row {
    /* space between projects */
    justify-content: space-evenly;
}

@media screen and (max-width: 767px) {

    /* display projects for different size */
    #projects .flex-item {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }
}
/* end projects */

/* certificates */
#certificates .img-thumbnail {
    /* change bg style of img */
    background-color: var(--black1);
}

#certificates .flex-item {
    /* group img and certificate name link */
    box-shadow: 0px 0px 2px var(--black1), 2px 2px 0 var(--black1);
    width: 40%;
    margin-bottom: 30px;
}

#certificates .row {
    /* space between certificates */
    justify-content: space-evenly;
}

@media screen and (max-width: 767px) {

    /* display certificates for different size */
    #certificates .flex-item {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
    }
}
/* end certificates */

/* skills */
div#skills {
    /* box skills */
    box-shadow: 0px 0px 2px var(--black1), 2px 2px 0 var(--black1);
}

#skills div.progress-bar-striped { /*bg color for progress bar */
    background: #61b7bd;
}
/* end skills */

/* education */

#education h6 a { /* style link */
    text-decoration: none;
}
#education h6 a:hover {
    text-decoration: underline;
}

#education .img-thumbnail {
    /* positioning img */
    display: block;
    margin: auto;
    border: 1px solid var(--black);
    background-color: var(--black1);
    max-width: 60%;
}

#edu { /* to align photo and text */
    max-height: 200px;
}

#education>div {
    /* about content */
    align-items: center;
}

div#education {
    /* box education */
    box-shadow: 0px 0px 2px var(--black1), 2px 2px 0 var(--black1);
}