:root {
    --black: #000;
    --white: #fff;
    --black1: #222;
    --lightgray: #DCDCDC;
    --gray: #808080;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 2;
}

.container-fluid { /* change width of container-fluid*/
    width: 95%;
}

.navbar { /* bg color nav */
    background-color: var(--black1);
}

.navbar-brand { /* logo */
    font-family: 'Silkscreen', cursive;
    text-shadow: 0 0 2px #ff0000, 0 0 4px #ffff00, 0 0 10px #2be634;
    font-size: 1.5rem;
    background-color: var(--black);
    padding: 10px;
    box-shadow: 2px 2px 5px var(--lightgray);
    border-radius: 10px;
}

.navbar-collapse { /* navbar content at right */
    justify-content: flex-end;
}

.nav-link { /* change style of navbar content */
    font-size: 1.25rem;
    padding: 0;
    margin: 0 2px 0 2px;
    color: var(--white) !important;
    text-transform: uppercase;
    transition-duration: 1s;
}

.icon-link { /* group and center icon+test */
    text-align: center;
    padding-top: 5px;
}

@media screen and (max-width: 991px) { /* fix error at navbar last content */
    .navbar-nav div:last-of-type {
        margin-bottom: 0 !important;
    }
}

.icon-link i { /* change navbar icon style */
    font-size: 1.5rem;
    margin-bottom: 1px;
    
}

/* animation add to icon */
.animate-neonLight {
    animation-duration: 3s;
    animation-name: neonLight;
    animation-iteration-count: infinite;
}
@keyframes neonLight {
    0% {
        background-color: var(--black);
    }
    25% {
        background-color: var(--white);
    }
    50% {
        background-color: var(--lightgray);
    }
    100% {
        background-color: var(--black);
    }
}
/* end */

/* hover group */
.animate__animated.animate__pulse:hover { /* animation add to icon */
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background-color: var(--lightgray);
    box-shadow: 2px 2px 2px var(--black), 2px 2px 4px var(--white);
    border-radius: 5px;
}
.icon-link:hover i, .icon-link:hover a { /* icon+test */
    color: var(--black) !important;
    transition-duration: 1s;
}
/* end */

.fas.fa-bars { /* navbar menu icon */
    font-size: larger;
    color: var(--white);
    border: 2px solid #d4d2d2;
    border-radius: 5px;
    padding: 5px;
}

/* end of navbar -----------------------------------*/

/* about */
.btn-danger:hover { /* add hover effect to button */
    box-shadow: 0px 4px 4px #bb2d3b;
}

#about > div { /* about content */
    align-items: center;
}

#about1 { /* about content */
    max-height: 275px;
}

.img-thumbnail { /* positioning img */
    display: block;
    margin: auto;
    border: 1px solid var(--black);
    background-color: var(--black1);
    max-width: 60%;
}
/* end of about */

/* experience */
h5, h6 {
    text-align: center;
}

.card { /* carb bg color */
    background-color: var(--black1);
}

.card-body { /* remove padding bottom */
    padding-bottom: 0;
}

#experience a { /* link color */
    color: var(--gray);
}

#seeMore-exp1, #seeMore-exp2 { /* jquery for link */
    display: none;
}
